<div class="container">
    <form class="email-compose-form">
        <!-- From Email -->
        <mat-form-field class="full-width" appearance="outline" *ngIf="from">
            <mat-label>From</mat-label>
            <input matInput type="email" placeholder="Enter sender's email" [(ngModel)]="from"
                [ngModelOptions]="{standalone: true}" disabled>
        </mat-form-field>

        <!-- To Email -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>To</mat-label>
            <input matInput type="email" placeholder="Enter recipient's email" [(ngModel)]="to"
                [ngModelOptions]="{standalone: true}" disabled>
        </mat-form-field>

        <!-- CC Email -->
        <mat-form-field class="full-width" appearance="outline" *ngIf="cc">
            <mat-label>CC</mat-label>
            <input matInput type="email" placeholder="Enter CC email" [(ngModel)]="cc"
                [ngModelOptions]="{standalone: true}" disabled>
        </mat-form-field>

        <!-- BCC Email -->
        <mat-form-field class="full-width" appearance="outline" *ngIf="bcc">
            <mat-label>BCC</mat-label>
            <input matInput type="email" placeholder="Enter BCC email" [(ngModel)]="bcc"
                [ngModelOptions]="{standalone: true}" disabled>
        </mat-form-field>

        <!-- Subject -->
        <mat-form-field class="full-width" appearance="outline" *ngIf="subject">
            <mat-label>Subject</mat-label>
            <input matInput type="text" placeholder="Enter subject" [(ngModel)]="subject"
                [ngModelOptions]="{standalone: true}" disabled>
        </mat-form-field>

        <!-- Body -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Body</mat-label>
            <textarea matInput rows="10" placeholder="Compose your email" [(ngModel)]="body" name="body"
                disabled></textarea>
        </mat-form-field>

        <!-- Back Button -->
        <button mat-stroked-button color="primary" class="back-btn" (click)="back()">
            <mat-icon>arrow_back</mat-icon> Back
        </button>
    </form>
</div>